* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}


.upperfooter {
    color: white;
    background-color: lightblue;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    padding: 1.5rem;

}


.secul {
    display: flex;
    align-items: center;
    font-size: 2rem;

    gap: 1rem;

}


.li {
    list-style: none;

}

.btn1 {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
}

.btn2 {
    background-color: rgb(83, 83, 169);
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
    color: white;
}




















































































@media (max-width : 320px) {
    html {
        font-size: 35%;
    }

}



@media (min-width : 320px) and (max-width : 480px) {
    html {
        font-size: 43.75%;
    }

}

@media (min-width : 481px) and (max-width : 768px) {
    html {
        font-size: 53.125%;
    }

}

@media (min-width : 769px) and (max-width : 1023px) {
    html {
        font-size: 62.5%;
    }

}


@media (min-width : 1024px) and (max-width : 1200px) {
    html {
        font-size: 71.85%;
    }

}


@media (min-width : 1201px) {
    html {
        font-size: 77%;
    }

}